<h2 class="page-header"><%= actor.name %></h2>
<img width="200" height="200" src="<%= actor.coverImagePath %>">
<div>Description: <%= actor.description %></div>
<div class="btn-row">
    <a class="btn btn-primary" href="/actors/<%= actor.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm',
                { url: `/actors/${actor.id}` }) %>
</div>
<% if (tvshowsByActor.length > 0) { %>
  <h2 class="page-header">Tv Shows By Actor</h2>
  <%- include('../partials/tvShowGrid', {tvshows: tvshowsByActor}) %> 
<% } %>